.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 67vw;
  overflow: hidden;
}

.mainLogo {
  width: 250px;
  margin-left: 2vw;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.tab {
  border: 0;
  background-color: transparent;
  color: #000;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.1rem;
  font-weight: 600;
  width: max-content;
  cursor: pointer;
}
.tab:hover {
  font-weight: 700;
  font-size: 1.15rem;
  color: #6c00ff;
}

.btn {
  display: inline-flex;
  padding: 15px 20px 15px 20px;
  border-radius: 100px;
  background: #8effa7;
  color: #6c00ff;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0;
  text-align: center;
  margin-right: 2vw;
  min-width: fit-content;
  cursor: pointer;
}
.btn:hover {
  font-weight: 700;
  font-size: 1.15rem;
}

.line {
  width: 100%;
  height: 10px;
  border-bottom: 2px solid #6c00ff;
}

.userIcon {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #6c00ff;
  border: 1px solid #7a3434;
  border-radius: 4px;
  padding: 10px;
  z-index: 1;
  min-width: 100px;
  /* white-space: nowrap; */
}

.dropdownButton {
  background-color: #6c00ff;
  color: #ffffff;
  font-weight: bolder;
  border: none;
  padding: 5px;
}
