.shade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-shrink: 0;
  background-color: rgba(43, 40, 38, 0.6);
  z-index: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30vh;
  left: 30vw;
  padding: 5vh 2vw;
  width: 20vw;
  overflow: hidden;
  height: 20vh;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: #fff;
  z-index: 2;
}

.buttons {
  display: flex;
  justify-content: center;
  height: 48px;
}

.title {
  font-size: 17px;
  text-align: center;
  width: 230px;
  margin-top: 30px;
  margin-bottom: 10%;
}

.goNew {
  background-color: #8effa7;
  color: rgba(0, 0, 0, 0.69);
  font-size: 16px;
  width: 80%;
  height: 48px;
  border: 0;
  flex-shrink: 0;
  border-radius: 30px;
  margin-left: 5px;
  cursor: pointer;
}
.goNew:focus {
  outline: none;
}

.goResult {
  background-color: #6c00ff;
  color: #8effa7;
  font-size: 16px;
  width: 80%;
  height: 48px;
  border: 0;
  flex-shrink: 0;
  border-radius: 30px;
  margin-left: 5px;
  cursor: pointer;
}
.goResult:focus {
  outline: none;
}

.coinLeft {
  display: inline-flex;
  margin-top: 15px;
  font-size: 13px;
}

.coinNum {
  font-size: 20px;
  margin-top: -5px;
  color: #f86565;
}

.goResult2 {
  background-color: #6c00ff;
  color: #8effa7;
  font-size: 16px;
  width: 80%;
  height: 48px;
  border: 0;
  flex-shrink: 0;
  border-radius: 30px;
  margin-left: 5px;
}
