.title {
  width: 100%;
  color: #000;
  font-family: SUITE;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.inputForm {
  width: 500px;
  height: 40px;
  justify-content: center;
  border-radius: 30px;
  background: #FFF;
}

.emailBtn {
  width: 167px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #6C00FF;
  background: rgba(108, 0, 255, 0.15);
}

.passwordAlarm {
  width: 676px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #219A60;
  background: rgba(18, 201, 113, 0.21);
} 

.fileAdd {
  width: 100px;
  height: 33px;
  flex-shrink: 0;
  fill: #d9d9d9;
  stroke-width: 0.5px;
  stroke: #000;
}

.picInput {
  width: 676px;
  height: 87px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
}

.center {
  display: flex;
  justify-content: center;
}

.joinBtn {
  width: 676px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #6C00FF;
}

.font {
  color: rgba(0, 0, 0, 0.50);
  font-family: SUITE;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.textInput {
  font-size: 1rem;
  color: #222222;
  width: 280px;
  border: none;
  position: relative;
  background: none;
  z-index: 5;
}