.container2 {
  display: grid;
  height: 100;
  width: fit-content;
  grid-gap: 5px;
  grid-template-areas:
    "quantity quantity quantity quantity"
    "buyable buyNum sellable sellNum"
    "input input input input"
    "btn10 btn25 btn50 btn100";

  grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.quantity {
  grid-area: quantity;
  font-size: 13px;
}

.buyable {
  grid-area: buyable;
  font-size: 13px;
  /* background-color: #f86565; */
}

.buyNum {
  grid-area: buyNum;
  overflow: hidden;
  font-size: 13px;
}

.sellable {
  grid-area: sellable;
  font-size: 13px;
  /* background-color: #5258e6; */
}

.sellNum {
  grid-area: sellNum;
  overflow: hidden;
  font-size: 13px;
}

.input1 {
  grid-area: input;
  width: 195px;
}

.btn10 {
  grid-area: btn10;
  cursor: pointer;
}
.btn25 {
  grid-area: btn25;
  cursor: pointer;
}
.btn50 {
  grid-area: btn50;
  cursor: pointer;
}
.btn100 {
  grid-area: btn100;
  cursor: pointer;
}
