.font {
  margin-top: 25px;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
}

.center {
  text-align: center;
}

.margin {
  margin-top: 160px;
}

.innerText {
  font-size: 20px;
  margin-top: 15px;
}

.mainBtn {
  margin-top: 50px;
  width: 35vw;
  height: 50px;
  border-radius: 20px;
  border: 0;
  background: #6c00ff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
