.container {
  display: grid;
  grid-gap: 20px;
  height: 100vh;
  grid-template-areas:
    "carousel carousel"
    "hotUpdate gotoGame"
    "hotUpdate rankWeekly";
  grid-template-rows: 1fr 90px 1fr;
  grid-template-columns: 1fr 1fr;
}

.header {
  grid-area: header;
}

.carousel {
  margin-top: 20px;
  grid-area: carousel;
}

.hotUpdate {
  grid-area: hotUpdate;
}

.gotoGame {
  grid-area: gotoGame;
  border-radius: 30px;
  background: #6c00ff;
  padding: 22px 0px;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  line-height: 6vh;
  min-width: max-content;
  cursor: pointer;
}

.rankWeekly {
  grid-area: rankWeekly;
}

.chatbotBtn {
  font-family: SUITE;
  font-size: 16px;
  position: fixed;
  z-index: 5;
  bottom: 12%;
  right: 3%;
  background-color: rgb(242, 242, 183);
  border: 2px solid #535353;
  border-radius: 30px;
  width: 96px;
  height: 48px;
  cursor: pointer;
}