.container {
  display: grid;
  grid-gap: 20px;
  height: 100vh;
  grid-template-areas:
    /* "header header" */
    "carousel carousel"
    "hotUpdate gotoGame"
    "hotUpdate rankWeekly"
    "footer footer";
  grid-template-rows: 300px 90px 1fr 100px;
}

.header {
  grid-area: header;
}

.carousel {
  margin-top: 20px;
  grid-area: carousel;
}

.hotUpdate {
  grid-area: hotUpdate;
}

.gotoGame {
  grid-area: gotoGame;
  border-radius: 30px;
  background: #6c00ff;
  padding: 22px 0px;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  line-height: 6vh;
}

.rankWeekly {
  grid-area: rankWeekly;
}

.footer {
  grid-area: footer;
}
