.ansContainer {
  display: grid;
  grid-template-areas:
    "ansBtn1 ansBtn2"
    "ansBtn3 ansBtn4";
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  margin-bottom: 3vh;
  margin-top: 10vh;
}

.ansBtn1 {
  grid-area: ansBtn1;
  display: flex;
  width: 25vw;
  height: 10vh;
  border-radius: 30px;
  border: 5px solid #6c00ff;
  background: #f4ecff;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: SUITE;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  cursor: pointer;
}

.ansBtn2 {
  grid-area: ansBtn2;
  display: flex;
  width: 25vw;
  height: 10vh;
  border-radius: 30px;
  border: 5px solid #6c00ff;
  background: #f4ecff;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: SUITE;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  cursor: pointer;
}

.ansBtn3 {
  grid-area: ansBtn3;
  display: flex;
  width: 25vw;
  height: 10vh;
  border-radius: 30px;
  border: 5px solid #6c00ff;
  background: #f4ecff;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: SUITE;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  cursor: pointer;
}

.ansBtn4 {
  grid-area: ansBtn4;
  display: flex;
  width: 25vw;
  height: 10vh;
  border-radius: 30px;
  border: 5px solid #6c00ff;
  background: #f4ecff;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: SUITE;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  cursor: pointer;
}

.ansBtn1:hover {
  background: #8effa7;
  color: #6c00ff;
}
.ansBtn2:hover {
  background: #8effa7;
  color: #6c00ff;
}
.ansBtn3:hover {
  background: #8effa7;
  color: #6c00ff;
}
.ansBtn4:hover {
  background: #8effa7;
  color: #6c00ff;
}

.fullBox {
  display: flex;
  overflow: auto;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: 80vh;
  border-radius: 30px;
  background: #fff;
}

.quizFont {
  word-break: break-all;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5vh;
  color: #000;
  font-family: SUITE;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.quizDone {
  word-break: break-all;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  color: #000;
  font-family: SUITE;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.title {
  color: #000;
  margin-top: 50px;
  text-align: center;
  font-family: SUITE;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imgSize {
  height: 36px;
  margin-left: 10px;
  margin-bottom: -3px;
}
