.container {
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  height: 100vh;
  grid-template-areas:
    "hotUpdate"
    "inner1"
    "inner2"
    "articles";
  grid-template-rows: 0.8fr 0.2fr 0.2fr 1.5fr;
}

.hotUpdate {
  grid-area: hotUpdate;
  overflow: hidden;
}

.inner1 {
  grid-area: inner1;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}

.tag {
  display: flex;
  background: #fff;
  border: 0;
  border-radius: 30px;
  width: 120px;
  height: 100%;
  flex-shrink: 0;
  font-size: 17px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tag:focus {
  outline: none;
  background: #8effa7;
  color: #6c00ff;
}

.write {
  display: flex;
  background: #6c00ff;
  color: #8effa7;
  border: 0;
  border-radius: 30px;
  width: 120px;
  margin-left: auto;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.write:focus {
  outline: none;
}

.inner2 {
  grid-area: inner2;
  display: flex;
  width: 100%;
}

.search {
  display: flex;
  width: 80%;
  background: #fff;
  border: 0;
  border-radius: 30px;
  align-items: center;
}
.searchImg {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
}

.alignImg {
  margin-left: auto;
  margin-top: 8px;
  width: 37px;
  height: 33px;
  cursor: pointer;
}
.articles {
  grid-area: articles;
}

.inputSearch {
  font-size: 18px;
  text-indent: 4px;
  color: #222222;
  width: 90%;
  border: none;
  position: relative;
  background: none;
  z-index: 5;
  cursor: text;
}
.inputSearch::placeholder {
  color: #aaaaaa;
  font-size: 18px;
}
.inputSearch:focus {
  outline: none;
}
