.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  margin-top: 20px;
  padding: 10px;
}
.innerText {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 95%;
}
.title {
  display: flex;
  font-size: 20px;
  font-weight: 600;
}

.line {
  margin-top: 9px;
  border-bottom: 2px solid #959595;
}

.titleName {
  font-size: 18px;
  font-weight: 600;
  margin-top: 11px;
  margin-left: 3px;
}

.article {
  display: flex;
  font-size: 16px;
  max-width: 100%;
  margin-top: 16px;
  margin-left: 10px;
  overflow: hidden;
}

.title2 {
  min-width: max-content;
}
