.container {
  display: grid;
  grid-gap: 15px;
  height: 90vh;
  margin-left: -7%;
  margin-right: -7%;
  grid-template-areas:
    "chart buysell"
    "chart status"
    "chart hint"
    "chart end";
  grid-template-rows: 200px 1fr 45px 45px;
  grid-template-columns: 1fr 400px;
}

.container > div {
  border-radius: 30px;
  border: 0;
  flex-shrink: 0;
  background-color: #fff;
}

.container > button {
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  border: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.chart {
  grid-area: chart;
}

.buysell {
  grid-area: buysell;
}

.status {
  grid-area: status;
}

.hint {
  grid-area: hint;
  background-color: #f0e57d;
  color: rgba(0, 0, 0, 0.69);
}

.end {
  grid-area: end;
  background-color: #6c00ff;
  color: #fff;
}

.loading {
  background-color: #fff;
  width: 100px;
  margin-left: 25vw;
  margin-top: 35vh;
}
